<div id="main-wrapper">

    <!-- Header Component -->
    <app-header></app-header> 

    <!-- Sidebar Component -->
    <app-sidebar></app-sidebar>
    
    <!-- Page Wrapper -->
    <div class="page-wrapper">
        <!-- Container fluid  -->
        <div class="container-fluid">
            <!-- Bread crumb  -->
            <app-breadcrumb></app-breadcrumb>
            <!-- End Bread crumb -->

            <!-- My System Routes -->
            <router-outlet></router-outlet>
            <!-- End My System Routes -->
        </div>
        <!-- End Container fluid  -->
        <!-- Footer -->
        <footer class="footer">
            © 2021 AdminPro Angular - Created By 💜&lt;Deko-Dev/>🐼
        </footer>
        <!-- End Footer -->
    </div>
    <!-- End Page wrapper  -->
</div>
